::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    font-family: Abril fatface, sans-serif;
}

header{
    height: 100vh;
    background-repeat:no-repeat ;
    background-image: url(../img/Web\ 1920\ –\ 1.png);
    background-size:cover ;
    background-position:center ;
}

nav{
    width: 100%;
    height: 70px;
    background-color: transparent;
    transition: all 0.3s ease-out;
}
.bgNav{
background: #333;
color: #f1f1f1;
/* border-bottom: 1px solid #f1f1f1; */
border-radius: 2px;
}
.clickAnim{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(to top, #ff4e50, #f9d432);
    position: absolute;
    z-index: 9000;
    transform: scale(0);
    transform-origin: center;
    animation: clickAnim 1s ease-in-out;
}
@keyframes clickAnim{
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(2);
        opacity: 1;
    }
    0%{
        transform: scale(0);
        opacity: 0;
    }
}

.headerText{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bigger{
    font-weight: 700;
}
.headerH2{
    font-size: 30px;
    font-style: italic;
    color: white;
}

.headerH1{
    font-size: 35px;
    color: white;
}
.headerP{
    color: white;
}
.bi{
    filter: invert();
}
/* About me  */

.aboutMe{
    display: flex;
    align-items: center;
}
.thibaud{
    margin-left: 12px;
    border-radius: 20px;
    height: 250px;
    background-image: url("../img/thibaud2.jpg") ;
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
}

.btn{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.contactBtn{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn{
    width: 300px;

}

/* skills */
/* .skills .card{
    width: 23rem;
} */
.skills{
    background-color:rgb(214, 219, 223) ;
}

.titleFront{
    color: #A569BD ;
    text-align: center;
}
.titleBack{
    text-align: center;
    color:#E67E22 ;
}
.titleCms{
    text-align: center;
    color: #2ECC71;
}
.titleWeb{
    text-align: center;
    color: #3498DB;
}
.webColor{
color: #3498DB;
}
.frontColor{
    color: #A569BD ;
}
.backColor{
    color: #E67E22;
}
.cmsColor{
    color: #2ECC71;
}
.fas{
    font-size: 10px;
}
.codeIcon{
    font-size: 140px;
    color: #A569BD;
    transition: transform 350ms;
}
.codeIcon:hover{
    transform: scale(1.1);
}
.databaseIcon{
    font-size: 140px;
    color:#E67E22 ;
    transition: transform 350ms;
}
.databaseIcon:hover{
    transform: scale(0.9);
}
.cmsIcon{
    font-size: 140px;
    color:#2ECC71 ;
    transition: transform 350ms;
}
.cmsIcon:hover{
    transform: translateX(20px);
}
.webIcon{
        font-size:  140px;
        color: #3498DB;
        transition: transform 350ms;
}
.webIcon:hover{
    transform: translateY(-15px);
}

/* transition d'apparition en js compétences / skills */
.reveal{
    opacity: 0;
    transform: translateY(-30px);
}
.reveal-visible{
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(.5, 0 , 0 ,1);
}

/* PortFolio */

.fontTitleCard{
    font-family: Abril fatface, sans-serif;
}
.bgParcours{
    background-color:rgb(214, 219, 223) ;
}



/* on screen < 600px */
@media screen and (max-width :600px){
    .codeIcon{
        display: none !important;
    }
    .databaseIcon{
        display: none !important;
    }
    .cmsIcon{
        display: none !important;
    }
    .webIcon{
        display: none !important;
    }
    .aboutMeMargin{
        text-align: center;
    }
    .thibaud{
        height: 450px;
        width: 290;
        display: flex;
        justify-content: center;
    }
}
/* on screen > 600px */
@media screen and (min-width :600px) {
    .skills .card{
        height: 300px;
        width: 40rem;
    }
    .thibaud{
        padding-top: 30px;
        height: 700px;
    }
    #aboutMeSize{
        font-size: 29px;
    }
    .aboutMeMargin{
        margin-left: 35px;
    }
    .headerH1{
        font-size: 55px;
    }
    .header2{
        font-size: 35px;
    }
    .headerP{
        font-size: 18px;
    }
    body p{
        font-size: 18px;
    }
}



